DATABASE_URL=<YOUR_MONGODB_CONNECTION_STRING>
MONGO_DB=<YOUR_MONGO_DB>
MONGO_COLLECTION=<YOUR_MONGODB_COLLECTION>

ALLOW_LOCAL_FALLBACK=0

# (PT) ALLOW_LOCAL_FALLBACK = 1 USA UM SQLITE LOCAL PARA SALVAMENTO E CARREGAMENTO DE MODELOS, MARQUE COMO 0 SE VOCÊ TEM UM MONGODB CONFIGURADO
# (EN) ALLOW_LOCAL_FALLBACK = 1 WILL USE A LOCAL SQLITE DATABASE TO SAVE AND LOAD MODELS, DEFINE AS 0 IF YOU HAVE A CONFIGURED MONGODB
